html, body
{
	height: 100%;
}
	
body
{	
	margin: 0px;
	padding: 0px;
	background: #ffff99;
	font-family: sans-serif;
	font-size: 12pt;
	color: rgba(0,0,0,.6);
}

/*-------------------------------title-------------------------------*/


}

/*-------------------------------header-------------------------------*/

#header-wrapper
{	overflow: hidden;
	background: #2056ac;
}
#header
{
	text-align: center;
}

/*-------------------------------menu-------------------------------*/

#menu
{
	height: 60px;
}
#menu ul
{
	display: inline-block;
	padding: 0em 2em;
	text-align: center;
}
#menu li
{
	display: inline-block;
}
#menu li a, #menu li span
{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	outline: 0;
	color: #000;
}	
#menu li:hover a, #menu li.active a, #menu li.active span
{
	background: #FFF;
	border-radius: 7px 7px 0px 0px;
	color: #000;
}
#menu .current_page_item a
{
}